@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-bg-dark: #F8FAFC;
  --color-card-dark: #FFFFFF;
  --color-primary: #2563EB;
  --color-accent: #10B981;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  --color-text-light: #0F172A;
  --color-text-muted: #64748B;
  --color-border-dark: #E2E8F0;
}

@layer base {
  body {
    @apply bg-bg-dark text-text-light antialiased;
  }
}